.header{
    background-color:lightgrey;
    height: 60px;
    overflow: hidden;
    padding: 20px 15px;
    border: 1px solid;
    border-color: darkblue;
}

.header div{
    background-color: bisque;
}

.header h1{
    float: left;
    font-size: larger;
    height: 30px;
    text-align: center;
}

.header h2{
    float: right;
    font-size: large;
    height: 30px;
    text-align: center;
    padding-right: 20px;
}

/* .header h2{
    float: right;
    font-size: medium;
} */